*{
    background-image: url(https://images.unsplash.com/photo-1521185496955-15097b20c5fe?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2dyYW1taW5nfGVufDB8fDB8fHww);
    background-repeat: no-repeat;
    background-size: cover;
}


.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: aquamarine;
    text-decoration-color: blueviolet;
    text-color: darkblue;
    /* background-image: url(https://static.frontendmasters.com/assets/courses/2023-01-12-background-javascript/thumb.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    
}

.chap2{
    display: flex;
    /* text-align: center; */
    justify-content: center;
}
.chap1{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

*{
    
}
.p{
    color: blue;
    font-size: larger;
    font-weight: bold;
}