body{
    background-image: url("https://media.istockphoto.com/id/537848738/photo/stock-market-graph.jpg?s=1024x1024&w=is&k=20&c=TTfd4TZPaOnWAgA4tFAJ4lwaODL7_OBBI-0DJnZ5ibY=");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}