body{
    background-image: url("https://img.freepik.com/premium-vector/futuristic-scifi-glowing-hud-time-fading-abstract-time-machine-polygon-hitech-background-data-digital-clock-headup-display-interface-virtual-reality-technology-timer-deadline-concept_448804-568.jpg?w=740");
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}